<div class="film" *ngIf="film">
  <a class="film__route"
     [routerLink]="['/films', film.title]"
     [queryParams]="{id: film.id}">
  <div class="film__poster" [ngStyle]="{'background-image': 'url(' + film.poster + ')'}"></div>
    <div class="film__info">
      <div class="film__prop film__prop--title">{{film.title}} ({{film.year}})</div>
      <div class="film__prop">
        <span class="film__prop--header">Genre:</span>&nbsp;
        <span [ngClass]="{'empty': isNotFound(film.genre)}">{{film.genre}}</span>
      </div>
      <div class="film__prop">
        <span class="film__prop--header">Time:</span>&nbsp;
        <span [ngClass]="{'empty': isNotFound(film.runtime)}">{{film.runtime}}</span>
      </div>
      <div class="film__prop" *ngIf="!isNotFound(film.plot)">{{film.plot}}</div>
    </div>
  </a>
</div>
