.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0;

  &__input {
    margin: 0 10px 0 0;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 20px;
    height: 40px;
    padding: 0 20px;
    width: 100%;
    min-width: 190px;
    max-width: 830px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border: 1px solid #ffdb4d;

      &::placeholder {
        color: transparent;
      }
    }

    &.active {
      border: 1px solid #ffdb4d;
    }

    &::placeholder {
      color: #bbb;
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
  }

  &__btn {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 20px;
    height: 40px;
    width: 90px;
    background-color: #ffdb4d;
    cursor: pointer;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    box-sizing: border-box;

    &:hover {
      background-color: #ffe791;
    }

    &:focus {
      outline: none;
    }

    &:active {
      background-color: #eac748;
    }
  }
}
