<div class="film">
  <a class="film__link"
     [routerLink]="['/films', film.title]"
     [queryParams]="{year: film.year, type: film.type}">
    <div class="film__poster" [ngStyle]="{'background-image': 'url(' + film.poster + ')'}"></div>
    <div class="film__info">
      <div class="film__title">{{film.title}} ({{film.year}})</div>
      <div class="film__type">
        <span class="bold">Type:</span>&nbsp;
        <span [ngClass]="{'empty': isNotFound(film.type)}">{{film.type}}</span>
      </div>
    </div>
    <div class="film__more">
      <div class="film__more-btn"></div>
    </div>
  </a>
</div>
